.navigationMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.5);

    &_items {
        width: 960px;
        display: flex;
        justify-content: space-between;

        li {
            height: 84px;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            color: white;
            cursor: pointer;
            box-sizing: content-box;

            &:first-child {
                border-bottom: 2px solid rgba(255, 66, 0, 1);
            }
            
            &:hover {
                border-bottom: 2px solid rgba(255, 66, 0, 1);
            }
        }
    }

    // &_item {

    // }
}
