.topContent {
    display: flex;
    justify-content: center;

    &_inner {
        width: 960px;
        display: flex;
        justify-content: space-between;
        padding: 88px 0 286px 0;
        position: relative;
    }

    &_innerDescription {
        width: 380px;
        padding: 128px 24px 0 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        color: rgb(255, 255, 255);
        border-right: 1px solid rgb(255, 255, 255);
        z-index: 2;
        text-align: right;
        margin-top: 12px;
    }
    
    &_innerRightBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        z-index: 2;
    }

    &_innerTitle {
        width: 543px;
        font-size: 64px;
        font-weight: 500;
        line-height: 72px;
        color: rgb(255, 255, 255);
        text-align: left;
    }

    &_innerButton {
        padding: 14px 32px;
        background-color: rgba(255, 66, 0, 1);
        border-radius: 90px;
        color: rgb(255, 255, 255);
        transition: background-color 0.3s;
        border: 1px solid rgba(255, 66, 0, 1);
        
        &:hover {
            background-color: rgb(255, 255, 255);
            color: rgba(255, 66, 0, 1);
          }
    }

    &_innerDescrBack {
        position: absolute;
        width: 940px;
        height: 360px;
        right: 500px;
        top: 60px;
        background-color: rgba(139, 179, 125, 0.8);
    }
}
