.bottomContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-image: url('../../../../assets/backgrounds/home/bottom_block.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}